results
models
wandb
# !data/processed
output/
beaker_configs/auto_created

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# vscode project settings
.vscode
scripts/data
*.lock
scripts/indic_eval/models--ai4bharat--airavata
scripts/indic_eval/datasets
.DS_Store
datasets/sst2/default/0.0.0/8d51e7e4887a4caaa95b3fbebbf53c0490b58bbb/dataset_info.json
datasets/sst2/default/0.0.0/8d51e7e4887a4caaa95b3fbebbf53c0490b58bbb/sst2-test.arrow
datasets/sst2/default/0.0.0/8d51e7e4887a4caaa95b3fbebbf53c0490b58bbb/sst2-train.arrow
datasets/sst2/default/0.0.0/8d51e7e4887a4caaa95b3fbebbf53c0490b58bbb/sst2-validation.arrow
models--bert-base-cased/.no_exist/cd5ef92a9fb2f889e972770a36d4ed042daf221e/added_tokens.json
models--bert-base-cased/.no_exist/cd5ef92a9fb2f889e972770a36d4ed042daf221e/special_tokens_map.json
models--bert-base-cased/blobs/1d8bdcee6021e2c25f0325e84889b61c2eb26b843eef5659c247af138d64f050
models--bert-base-cased/blobs/2ba5de7675473164e07f3b3531748c9a6f113a2c
models--bert-base-cased/blobs/2ea941cc79a6f3d7985ca6991ef4f67dad62af04
models--bert-base-cased/blobs/107460496b431545e4f921afb3fd5486fd2ae79d
models--bert-base-cased/refs/main
models--bert-base-cased/snapshots/cd5ef92a9fb2f889e972770a36d4ed042daf221e/config.json
models--bert-base-cased/snapshots/cd5ef92a9fb2f889e972770a36d4ed042daf221e/model.safetensors
models--bert-base-cased/snapshots/cd5ef92a9fb2f889e972770a36d4ed042daf221e/tokenizer_config.json
models--bert-base-cased/snapshots/cd5ef92a9fb2f889e972770a36d4ed042daf221e/vocab.txt
scripts/indic_eval/models--sarvamai--OpenHathi-7B-Hi-v0.1-Base/.no_exist/2cb5807b852028defa07c56c96a7ff5c11f8df0e/added_tokens.json
scripts/indic_eval/models--sarvamai--OpenHathi-7B-Hi-v0.1-Base/.no_exist/2cb5807b852028defa07c56c96a7ff5c11f8df0e/model.safetensors
scripts/indic_eval/models--sarvamai--OpenHathi-7B-Hi-v0.1-Base/blobs/0bf561c4406a9da9e5ed8d72cc9539c175994e32
scripts/indic_eval/models--sarvamai--OpenHathi-7B-Hi-v0.1-Base/blobs/8e3b1706408e6000d9c61ac6d8d50eb3ed6849b2
scripts/indic_eval/models--sarvamai--OpenHathi-7B-Hi-v0.1-Base/blobs/9c384835e29a2bcdc9af37e169f13978dc6fbf2f94274f956ed2a42afa4b7e87
scripts/indic_eval/models--sarvamai--OpenHathi-7B-Hi-v0.1-Base/blobs/21edfc81710e2dc1e41bd42b3a51bfff845568cf
scripts/indic_eval/models--sarvamai--OpenHathi-7B-Hi-v0.1-Base/blobs/49395cd4e7a0be240a15e44f14a61fc8e2acf8f71103a1d396bfd843c9d407ef
scripts/indic_eval/models--sarvamai--OpenHathi-7B-Hi-v0.1-Base/blobs/b2d53da0f295b3b04e231171ecad862e92ecae45bf43c2c4161e16740a4dedb1
scripts/indic_eval/models--sarvamai--OpenHathi-7B-Hi-v0.1-Base/blobs/c1dfee788e6e7fd5bdb1f86a463b5512df4b98199c80243cc0d1bbda99629666
scripts/indic_eval/models--sarvamai--OpenHathi-7B-Hi-v0.1-Base/blobs/c8b2da496a8be15a129baf5f4dd0db705db5fcec
scripts/indic_eval/models--sarvamai--OpenHathi-7B-Hi-v0.1-Base/blobs/e098372e12979faea700688230078ca73dc0dfff
scripts/indic_eval/models--sarvamai--OpenHathi-7B-Hi-v0.1-Base/blobs/ecf7ebacaa3baf270139450e912c3b7b0485b95a
scripts/indic_eval/models--sarvamai--OpenHathi-7B-Hi-v0.1-Base/refs/main
scripts/indic_eval/models--sarvamai--OpenHathi-7B-Hi-v0.1-Base/snapshots/2cb5807b852028defa07c56c96a7ff5c11f8df0e/config.json
scripts/indic_eval/models--sarvamai--OpenHathi-7B-Hi-v0.1-Base/snapshots/2cb5807b852028defa07c56c96a7ff5c11f8df0e/generation_config.json
scripts/indic_eval/models--sarvamai--OpenHathi-7B-Hi-v0.1-Base/snapshots/2cb5807b852028defa07c56c96a7ff5c11f8df0e/model-00001-of-00003.safetensors
scripts/indic_eval/models--sarvamai--OpenHathi-7B-Hi-v0.1-Base/snapshots/2cb5807b852028defa07c56c96a7ff5c11f8df0e/model-00002-of-00003.safetensors
scripts/indic_eval/models--sarvamai--OpenHathi-7B-Hi-v0.1-Base/snapshots/2cb5807b852028defa07c56c96a7ff5c11f8df0e/model-00003-of-00003.safetensors
scripts/indic_eval/models--sarvamai--OpenHathi-7B-Hi-v0.1-Base/snapshots/2cb5807b852028defa07c56c96a7ff5c11f8df0e/model.safetensors.index.json
scripts/indic_eval/models--sarvamai--OpenHathi-7B-Hi-v0.1-Base/snapshots/2cb5807b852028defa07c56c96a7ff5c11f8df0e/special_tokens_map.json
scripts/indic_eval/models--sarvamai--OpenHathi-7B-Hi-v0.1-Base/snapshots/2cb5807b852028defa07c56c96a7ff5c11f8df0e/tokenizer_config.json
scripts/indic_eval/models--sarvamai--OpenHathi-7B-Hi-v0.1-Base/snapshots/2cb5807b852028defa07c56c96a7ff5c11f8df0e/tokenizer.json
scripts/indic_eval/models--sarvamai--OpenHathi-7B-Hi-v0.1-Base/snapshots/2cb5807b852028defa07c56c96a7ff5c11f8df0e/tokenizer.model
model_sst2_finetuned.pth
model_files/
data/
